/*Map Page CSS*/
.page-content-container{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	margin-left: 60px;
}
.leaflet-container{
    width: 90vw;
    height: 90vh;
}

/*Journal Page CSS*/
.journal-display-container{
	margin: 0px;
	width: 94vw;
	padding-top: 2em;
	margin-left: 60px;
}
.journal-preview {
    color: white;
    position: relative;  
	display: flex;  
	align-items: flex-end;
    /* 16:9 aspect ratio */
    height: 369px;
    width: 38vw;
    margin: 20px 0px;
    /* Make the background image the corresponding image from the journal entry in the database */
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1z0d_Jke01v4ErGgNeyx8ROBp-v0TW3ZxBg&usqp=CAU);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	box-shadow: 10px 10px 5px #aaaaaa;
}
.journal-preview-text {
    padding: 40px 16px 8px 16px;
    font-family: Montaga;
	background-image: linear-gradient(to bottom, rgba(217, 217, 217, 0), rgba(12, 85, 226, 0.67));
	height: fit-content;
	width: 100%;
}
.journal-preview-text > h2 {
    font-size: 36px;
}
.journal-preview-text > h3 {
    font-size: 30px;
}

.journal-display-row {
    display: flex;
	width: 85vw;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.journal-h1 {
    font-family: Montaga;
    font-size: 64px;
    margin-left: 30px;
}

.buttons {
    background-color: #5c8dec;
    color: #FFFFFF;
    border-radius: 15px;
    border: none;
    font-family: Montaga;
    font-size: 20px;
	width: fit-content;
	height: fit-content;
    padding: 0.4em 1.8em;
}
.new-journal-button-container {
    text-align: right;
    margin-right: 30px;
}
* {
	box-sizing: border-box;
	/* height: 100%; */
}
/*Nav Bar CSS*/
body {
	padding: 0px;
	margin: 0px;
}
.nav-wrapper {
	display: flex;
	position: fixed;
	justify-content: center;
	width: 60px;
    height: 100vh;
    background-color: #00369F;
}
.sidebar {
	/* position: -webkit-sticky; */
	/* position: sticky; */
	padding-top: 1em;
    position: fixed;

}
.sidebar > li {
	list-style-type: none;
	text-align: center;
	padding-bottom: 30px;
}
.sidebar img {
	width: 70%;
}

@font-face {
	font-family: Montaga;
	src: url(./fonts/Montaga-Regular.ttf)
}

@font-face {
	font-family: Montserrat;
	src: url(./fonts/Montserrat-Black.ttf)
}

.loginpage, .signuppage, .homepage {	
	background-color: #00369F;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	height: 100%;
	width: 100%;
}

/* Can probably remove h1 from the code below? Check */
.loginpage > h1, p , .signuppage > h1, p {
	color: white;
	margin: 20px;
}

/* Styling for LoginInPage, SignInPage */

.loginpage > input, .signuppage > input {
	border: none;
	border-radius: 15px;
	width: 144px;
	height: 40px;
	font-size: 16px;
	padding: 12px;
}

.content-p, .content-input { /* paragrpah tag and input field tag */
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.entire-content { /* refers to the entire SignInPage page */
	display: flex;
}

.entire-content > div { /* makes the divs which contain (p, input) to be centered horizontally */
	width: 50%;
	align-items: center;
	margin: 10px;
}

.content-input > input, .content-p > p { /* aligns the (p, input) to be vertically aligned on the same line */
	margin: 20px 0px;
}

.content-p { /* font style for the p */
	font-family: Montserrat;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;	
}

.content-input > input {
	width: 200px;
}

/* Styling for the logo with name */
.logo-and-text {
	text-align: center;
}

.logo-and-text > h1 {
	color: white;
	margin: 20px;
	font-family: Montaga;
	font-style: normal;
	font-weight: 400;
	font-size: 64px;
	line-height: 79px;
}

/*  */
.login-signup-button {
	margin: 20px;
	border: none;
	border-radius: 15px;
	font-family: Montserrat;
	font-style: normal;
	line-height: 29px;
	color: #151515;
	padding: 5px 15px;
	width: 100px;	
}

.page-with-navbar {
    display: flex;
}

/*ToGo List Page CSS*/
.togo-container{
	width: 70vw;
	display: flex;
	justify-content: space-between;
	margin: 2em;
	padding: 1em;
	border: solid #717171;
	font-family: Montaga;
	box-shadow: 10px 10px 5px #aaaaaa;
}

.address-container{
	display: flex;
	margin: 1em 0 3em ;
}

.address-marker-icon{
	width: 14px;
	height: 21px;
}

.address-text{
	margin-left: 10px;
	font-size: 16px;
	color: #717171;
}

.togo-button{
	display: flex;
	justify-content: flex-end;
}

.tag-box{
	padding: 0.5em 1.5em;
	margin-right: 1em;
	width:fit-content;
	display: flex;
}

.tag-container{
	display: flex;
	flex-direction: row;
}

.togoListContainer{
	margin: 0px;
	width: 94vw;
	padding-top: 5em;
	margin-left: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}
